.dashboard-component-wrapper{ 'ng-show': "dashboard_ctrl.components.#{component}.visible",
                              id: "#{component}-component",
                              'ng-class': "dashboard_ctrl.components.#{component}.size"}

  .dashboard-component-inner-wrapper
    = render 'dashboard/components/controls', component: component

    .dashboard-component
      = render "#{component}/dashboard"
