- component = @template_params[:component]
- component_id = @template_params[:component_id]

.dashboard-component-wrapper{ id: "#{component_id}-component",
                              'ng-show': "dashboard_ctrl.components['#{component_id}'].visible",
                              'ng-class': "dashboard_ctrl.components['#{component_id}'].size"}

  .dashboard-component-inner-wrapper
    = render 'dashboard/components/controls', component: component

    .dashboard-component
      = render "/#{component}/dashboard"
