= form_for Activity.new, url: '', html: { class: 'ui form', 'ng-show': 'activities_ctrl.form_activity' } do |f|
  %h3.ui.header Editing {{ activities_ctrl.form_activity.name }} [{{ activities_ctrl.form_activity.id }}]

  .field
    = f.label :name
    = f.text_field :name, { 'ng-model': 'activities_ctrl.form_activity.name' }

  .field
    = f.label :color
    = f.color_field :color, { 'ng-model': 'activities_ctrl.form_activity.color' }

  .field
    = f.label :parent
    = f.select :parent, [], {}, { 'ng-model': 'activities_ctrl.form_activity.parent', 'ng-options': "option.breadcrumbs_path_names for option in activities_ctrl.activities_as_options track by option.id*1" }

  .ui.small.buttons{ 'ng-show': 'activities_ctrl.form_activity.isPersisted()' }
    .ui.primary.button#update-activity-button{ 'ng-click': 'activities_ctrl.saveActivity()' }= t 'actions.update'
    .ui.basic.button#cancel-edit-activity-button{ 'ng-click': 'activities_ctrl.cancelEditActivity()' }= t 'actions.cancel'
